name: Continuous Integration
on: [push]                      # Will make the workflow run every time you push to any branch

jobs:
  build-dotnet:
    name: Build and test C#
    runs-on: ubuntu-latest      # Sets the build environment a machine with the latest Ubuntu installed
    steps:
    - uses: actions/checkout@v4 # Adds a step to checkout the repository code

    - name: Hello world       # Name of step
      run: echo 'Hello world' # Command to run

    # Setup .NET
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
          dotnet-version: '8.0.x'  # .net version to use 

    # Restore dependencies and build C# project
    - name: Restore dependencies
      run: dotnet restore

    #Build the project 
    - name: Build with dotnet
      run: dotnet build --configuration Release

    #  test  TypeScript
    - name: Tests
      run: dotnet test 

   